{% extends "views/layouts/main.njk" %}

{% set backLinkUrl = "/manage-prompts" %}
{% set backLinkText = "Back" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
               Prompt Details
            </h1>
        </div>
    </div>

    {% block dynTaskList %}{% endblock %}
{% endblock %}